
mixin standart-button(title,size,color)
    -var sizes=['normal','small']; colors=['blue','orange'];
    <button class="standart-button standart-button_#{color} standart-button_#{size} standart-button_#{color}-#{size}" onclick="buttonClick(event)">#{title}</button>
