mixin input-email(options)
    - //(placeholder='placeholder', required=true, name='emal')
    if (!options || (typeof(options) !== 'object'))
        - options = {}
    if !options.placeholder
        - options.placeholder = 'placeholder'
    if !options.name
        - options.name = 'email'
    if (options.required === undefined)
        - options.required = true;
    if options.required
        label.input-email
            input(type="email" name=options.name placeholder=options.placeholder required)
            div
    else
        label.input-email
            input(type="email" name=options.name placeholder=options.placeholder)
            div
