mixin slider(min,max,value)
    if(!min)
        -min = 0
    if(!max)
        -max = 10
    if(!value)
        -value = Math.ceil((max-min)/2)
    .slider
        .slider__view #{value}
        <input class="slider" oninput="sliderInput(event)" type="range" min="#{min}" max="#{max}" value="#{value}">
mixin slider-percentage(value)
    if(!value)
        -value = 50
    .slider-percentage
        .slider-percentage__full-line
        .slider-percentage__line
        <input class="slider-percentage" oninput="sliderPercentageInput(event)" type="range" min="0" max="100" value="#{value}">
        .slider-percentage__percent
            div 0
            div 25
            div 50
            div 75
            div 100
